


/*.content-sidebar-main {
  background-color:#272727;
  min-height: 750px;
} */

/* Appliquer un style de base au corps du document */
body {
  margin: 0;
  padding: 0;
  font-family: Inter, sans-serif
}

/* Styles pour chaque section */
.content-sidebar,
.content-body,
.content-right {
  float: left;
  height: 100vh; /* Hauteur de 100% de la fenêtre visible */
}

/* Styles pour la première section (10% de l'écran) */
.content-sidebar {
  width: 15%;
  background-color: #f2f2f2;
}

/* Styles pour la deuxième section (75% de l'écran) */
.content-body {
  width: 60%;
  background-color: #e5e5e5;
}

/* Styles pour la troisième section (15% de l'écran) */
.content-right {
  width: 25%;
  background-color: #d8d8d8;
}

/* Style supplémentaire pour l'élément "player" en bas */
.player {
  clear: both;
  background-color: #cccccc;
  width: 100%;
}


